/* @font-face {
	font-family: "OpenSans-Regular";
	font-display: swap;
	src: url('/OpenSans-Regular.ttf');
} */

@font-face {
	font-family: "Inter-Regular";
	font-display: swap;
	src: url('/Inter-Regular.ttf');
}

body {
	font-family: "Inter-Regular", sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	background-color: #161616;
	/* color: rgb(34, 34, 34); */
	color: #ffffff !important;
	font-size: 1.1em;
	line-height: 32.4px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
a {
	/* color: #0D0F0E; */
	color: white;
}

nav a {
	margin-right: 10px;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

content {
	line-height: 1.6;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

/* code>.line>span {
	font-weight: 500;
} */
code {
	padding: 2px 5px;
	/* color: rgb(189, 65, 71); */
	color: black;
	font-weight: bolder;
	background-color: #f7f7f9;
}

pre {
	padding: 1rem;
	border-radius: 5px;
	border: solid 1px #868686 !important;
	/* border-color: #ffffff !important; */
	/* border-style: solid; */
	/* background-color: rgb(40, 40, 40) !important; */
	background-color: #202020 !important;
}

pre>code {
	all: unset;
	/* font-size: 16px; */
}

blockquote {
	border: 1px solid #999;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

/* ============================================ */

::-webkit-scrollbar {
  /* width: 10px; */
	height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #868686; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #868686; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070; 
}