---
const today = new Date();
---

<footer>
	<span>&copy; Nurul Uhkrowi. {today.getFullYear()}</span>
</footer>
<style>
	footer {
		padding: 25px 0px;
		text-align: center;
		font-size: 14px;
	}
</style>
