---
const today = new Date();
---

<footer>
	<span>&copy; Nurul Uhkrowi. {today.getFullYear()}</span>
	<!-- <div style="display: flex;">
		<span>✉️</span>
		<span><img src="https://img.icons8.com/material-rounded/2x/mail.png"></span>
		<span><img src="https://img.icons8.com/ios-glyphs/2x/github.png"></span>
		<span>✉️</span>
	</div> -->
</footer>
<style>
	footer {
		padding: 25px 0px;
		text-align: center;
		font-size: 14px;
		/* display: flex;
		justify-content: space-between;
		align-items: flex-end; */
	}
</style>
