---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<div style="display: flex; justify-content: space-between; align-items: center;">
		<span style="font-size: 20px;">
			<a href="/blog" style="text-decoration: none;">{SITE_TITLE}</a>
		</span>
		<nav>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/projects">Project</HeaderLink>
		</nav>
	</div>
	<div class="border"></div>
</header>
<style>
	h2 {
		margin: 0.5em 0;
	}
	nav {
		display: flex;
		justify-content: flex-end;
	}
	.border {
		width: 100%; border-bottom: 1px #c1c1c1 solid;
		margin: 15px 0px;
	}
</style>
